@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500;700&display=swap');
$green: hsl(140, 88%, 16%);
$dark-green: hsl(140, 92%, 9%);
$black: hsl(0, 0%, 0%);

.input__checkbox {
    display: flex;
    color: $dark-green;
    font-size: 20px;
    margin-left: 15%;
    input {
        height: 25px;
        width: 25px;
    }
    label {
        text-transform: uppercase;
        margin-left: 10px;
        font-weight: bold;
    }
    label:checked:after {
        background-color: $green;
    }
}

@media only screen and (max-width: 600px) {
    .input__checkbox {
        display: flex;
        color: $dark-green;
        font-size: 15px;
        margin-left: 15%;
        input {
            height: 15px;
            width: 15px;
        }
        label {
            text-transform: uppercase;
            margin-left: 10px;
            font-weight: bold;
        }
        label:checked:after {
            background-color: $green;
        }
    }
}
