@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$jungle-green: #204E4A;
$spring-green: #297045;
$green: #2E933C;
$light-green: #81C14B;
$gold-crayola: #ECBA82;