.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: orange;
}

.nav div {
    color: white;
    padding: 20px;
}

.nav div:hover{
    background-color: gray;
}

.nav Link:visited{
    color: white;
}