@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500;700&display=swap');
$green: hsl(140, 88%, 16%);
$dark-green: hsl(140, 92%, 9%);
$black: hsl(0, 0%, 0%);

.profile-card {
    width: 350px;
    border: 10px solid $green;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;

    .profile-card__button-remove{
        display: flex;
        justify-content: end;;
        button {
            border: none;
            img {
                height: 40px;
                width: 35px;
            }
        }
        button:hover {
            cursor: pointer;
        }
    }

    /* View */
    .profile-card-view {
        .card__button-edit {
            border: none;
            text-decoration: underline;
            font-style: italic;
            letter-spacing: 3px;
            color: blue;
        }
        .card__info {
            text-align: center;
            color: $dark-green;
            font-size: 18px;
            h1{
                font-size: 35px;
                text-transform: uppercase;
                margin: 0;
            }
            p {
                font-weight: bold;
                margin: 0;
            }
            
        }
        .card__info-courses {
            ul {
                list-style-type: none;
                padding: 0;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            li {
                display: inline;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid $green;
                font-weight: bold;
                margin: 2px;
            }
        }
        .card__button-status {
            display: flex;
            justify-content: center;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                img {
                    width: 30px;
                    height: 30px;
                }
                p {
                    font-size: 18px;
                }
            }
            button:hover {
                cursor:pointer;
            }
        }
    }

    /* Edit */
    .profile-card__form-edit{
        .form-edit__button-edit {
            border: none;
            text-decoration: underline;
            font-style: italic;
            letter-spacing: 3px;
            color: blue;
        }
    }
}