@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500;700&display=swap');
$green: hsl(140, 88%, 16%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

.form {
    display: block;
    width: 500px;
    background: linear-gradient(180deg, $dark-blue, $very-dark-blue);
    color: $white;
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    .form__title {
        color: $green;
        font-weight: 700;
        text-align: center;
        margin: 0;
        h1 {
            display: inline;
            margin: 0 auto;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 24px;
        }
        .form__input-radio {
            // do this
            display: flex;
            text-align: center;
            justify-content: center;
        }
    }
}

