@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500;700&display=swap');
$green: hsl(140, 88%, 16%);
$dark-green: hsl(140, 92%, 9%);
$black: hsl(0, 0%, 0%);

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

.form {
    // Modal Values
    position:fixed;
    background: white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    .form__button-close {
        border: 0px;
        font-size: 20px;
        font-weight: 900;
        color: red;
    }

    .form__button-close:hover {
        cursor: pointer;
    }

    width: 450px;
    border: 5px solid $green;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    color: $dark-green;
    margin: 10px;
    .form__title {
        font-size: 40px;
        color: $green;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 20px;
        h1 {
            margin: 0;
        }
    }
    
    .form__error {
        border: 3px solid red;
        border-radius: 5px;
        display: flex;
        align-items: center;
        img {
            width: 25px;
            margin: 10px;
        }
        p {
            display: inline;
            font-size: 14px;
            color: red;
            font-weight: 700;
        }
    }

    .form__select-endjustify {
        display: flex;
        justify-content: end;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .form__input__select-status {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .justify {
            display: flex;
            justify-content: center;
        }
    }
    
    .form__input-radio {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
        label {
            margin-left: 10px;
            margin-right: 10px;
        }
        input {
            width: 15px;
            height: 15px;
        }
    }
    .form__section-courses {
        h2 {
            margin: 10px;
        }

        .form__section-add {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                height: 30px;
                width: 30px;
                border: none;
                img {
                    height: 25px;
                    width: 25px;
                }
            }
            
            button:hover {
                cursor: pointer;
                img {
                    background-color: $green;
                    border-radius: 5px;;
                }
            }
        }

        .form__input-courses {
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                font-size: 18px;
                width: 70%;
                height: 20px;
                border-radius: 8px;
                border: 1px solid $green;
            }
            button {
                border: none;
                img {
                    height: 40px;
                    width: 35px;
                }
            }
            button:hover {
                cursor: pointer;
            }
        }
    }
    .form__button-submit {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        button {
            font-size: 18px;
            background-color: $green;
            border: none;
            padding: 10px;
            border-radius: 8px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
        }
        button:hover {
            cursor: pointer;
            color: white;
            background-color: $dark-green;
        }
    }
}


@media only screen and (max-width: 600px) {
    .form {
        width: 350px;
        border: 5px solid $green;
        font-size: 15px;
        margin: 0px;
        .form__title {
            font-size: 25px;
        }

        .form__input-radio {
            font-size: 15px;
        }

        .form__input-courses {
            input {
                font-size: 15px;
            }
        }
        
        .form__button-submit {
            button{
                font-size: 15px;
            }
        }
    }
}