$green: hsl(140, 88%, 16%);

.input {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    column-gap: 10px;
    font-size: 18px;
    label {
        font-weight: bold;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    input {
        width: 95%;
        grid-row: 1/2;
        grid-column: 2/3;
        font-size: 20px;
        border-radius: 8px;
        border: 1px solid $green;
    }
}